<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <title>Aprendiendo VueJS</title>
  </head>
  <body>
    <!--Condiciones-->
    <!--
	- v-text para mostrar el contenido Pero parpadea
	- v-show te lo enseña directamente
	- v-if si se cumple la condicion se muestra
	- v-else si no se cumple la condicion muestra otro elem
	-->
    <div class="container">
      <div id="app">
        <h2>Lista de Tareas</h2>
        <h4 v-if="completedTasks">Tareas completas {{completedTasks}}</h4>
        <h4 v-if="incompletedTasks">
          Tareas incompletas {{incompletedTasks }}
        </h4>
        <ul>
          <li v-for="task in tasks">
            <span v-text="task.title"></span>
            <span @click="completeTask(task)" :class="taskClasses(task)"></span>
          </li>
          <li class="form-inline">
            <!--Creamos una nueva variable llamada new Task que es la que recibira todo 
              Lo que le metamos al elemento

              Llamamos al Metodo add Task con v-on, y luego keyup 
            Le indicamos la tecla que se debe pulsar para que se ejecute el metodo-->
            <input v-on:keyup.enter="addTask" v-model="newTask" type="text" />
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          newTask: "",
          tasks: [
            { title: "Aprendible PHP", completed: true },
            { title: "Aprendible Laravel", completed: false },
            { title: "Aprendible VueJS", completed: true },
          ],
        },
        methods: {



          addTask: function () {
            if (this.newTask.length <= 1) return alert("Tarea vacia");

            //Con el metodo Push añadimos un nuevo elemento
            this.tasks.push({
              title: this.newTask,
              completed: false,
            });
            this.newTask = "";
          },


          taskClasses: function (task){
            console.log('css changed')
            return ['glyphicon' , task.completed ? 'glyphicon-check' : 'glyphicon-unchecked']
          },

          completeTask: function(task){
            task.completed =  ! task.completed
          }
        },
        computed: {
          completedTasks: function () {
            return this.tasks.filter(function (task) {
              return task.completed;
            }).length;
          },
          incompletedTasks: function () {
            return this.tasks.filter(function (task) {
              return !task.completed;
            }).length;
          },
        },
      });
    </script>
  </body>
</html>
